<form action="" [formGroup]="recipeForm" (ngSubmit)="updateRecipe()">
  <div class="form-group container">
    <fieldset>
      <input type="text"
      [ngClass]="{'is-invalid': recipeForm.invalid && recipeForm.get('nomPlatPerso').touched && recipeForm.get('nomPlatPerso').errors != null}"
      class="m-3 form-control"
      placeholder="Name"
      formControlName="nomPlatPerso">      
    
    <input type="text"
      [ngClass]="{'is-invalid': recipeForm.invalid && recipeForm.get('descrPlatPerso').touched && recipeForm.get('descrPlatPerso').errors != null}"
      class="m-3 form-control"
      placeholder="Description"
      formControlName="descrPlatPerso">
      <select matNativeControl required class="m-3 form-control"
           formControlName="categorie" >
      <option *ngFor="let categorie of categories; let i = index" [ngValue]="categorie.idCat">{{categorie.nomCat}}</option>
    </select>
      </fieldset>
    <button class="btn btn-success" [disabled]="recipeForm.invalid">Update Recipe</button>
  </div>
</form>