<div *ngIf="!loading">
  <div class="container">
    <div class="">
      <div class="col-xs-3">
        <ul *ngIf="stores.length">
          <li *ngFor="let store of stores">
            <i>{{store.name}}</i> <br>
            <i>Address</i> :
            <p> {{store.address}} </p>
            <button class="btn btn-outline-danger m-1 col-xs-8" (click)="deleteStore(store.id)">Delete</button>
            <button class="btn btn-outline-info m-1 col-xs-8" [routerLink]="['/stores/', store.id]">Edit</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <span *ngIf="error" >{{error}}</span>
</div>
<div *ngIf="loading">
chargement !
</div>

