<form action="" [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
    <div class="form-group container">
      <fieldset>
        <input type="text"
        [ngClass]="{'is-invalid': recipeForm.invalid && recipeForm.get('name').touched && recipeForm.get('name').errors != null}"
        class="m-3 form-control"
        placeholder="Name"
        formControlName="name">
        <input type="text"
        [ngClass]="{'is-invalid': recipeForm.invalid && recipeForm.get('time').touched && recipeForm.get('time').errors != null}"
        class="m-3 form-control"
        placeholder="Time"
        formControlName="time">
      <input type="text"
        [ngClass]="{'is-invalid': recipeForm.invalid && recipeForm.get('nbrPersons').touched && recipeForm.get('nbrPersons').errors != null}"
        class="m-3 form-control"
        placeholder="N° Persons"
        formControlName="nbrPersons">
      <input type="text"
        [ngClass]="{'is-invalid': recipeForm.invalid && recipeForm.get('description').touched && recipeForm.get('description').errors != null}"
        class="m-3 form-control"
        placeholder="Description"
        formControlName="description">
        </fieldset>
      <button class="btn btn-success" [disabled]="recipeForm.invalid">Add Recipe</button>
    </div>
  </form>