<form action="" [formGroup]="recipeForm" (ngSubmit)="addRecipe()">
    <div class="form-group container">
      <fieldset>
        <input type="text"
        [ngClass]="{'is-invalid': recipeForm.invalid && recipeForm.get('name').touched && recipeForm.get('name').errors != null}"
        class="m-3 form-control"
        placeholder="Name"
        formControlName="name">      
      
      <input type="text"
        [ngClass]="{'is-invalid': recipeForm.invalid && recipeForm.get('description').touched && recipeForm.get('description').errors != null}"
        class="m-3 form-control"
        placeholder="Description"
        formControlName="description">
        <select matNativeControl required class="m-3 form-control"
             formControlName="categorie" >
        <option *ngFor="let categorie of categories; let i = index" [ngValue]="categorie.idCat">{{categorie.nomCat}}</option>
      </select>
        </fieldset>
      <button class="btn btn-success" [disabled]="recipeForm.invalid">Add Recipe</button>
    </div>
  </form>