<div *ngIf="!loading">
<div class="container">
  <H4> List Of Article</H4>
  <div class="">
    <div class="col-xs-3">
      <ul *ngIf="articles.length">
        <li *ngFor="let a of articles">
          <i>Title</i> :
      <i>{{a.title}}</i> <br>
          <i>Content</i> :
          <i> {{a.content}} </i><br>
          <i>Author</i> :
          <i> {{a.author}} </i><br>
          <i>Category</i> :
          <i> {{a.category.title}} </i><br>
          <button class="btn btn-outline-danger m-1 col-xs-8" (click)="deleteArticle(a.id)">Delete</button>
          <button class="btn btn-outline-info m-1 col-xs-8" [routerLink]="['/articles/', a.id]">Edit</button>
        </li>
      </ul>
    </div>
  </div>
</div>
<span *ngIf="error" >{{error}}</span>
</div>
<div *ngIf="loading">
  chargement !
</div>
