<form action="" [formGroup]="categoryForm" (ngSubmit)="addCategory()">
  <div class="form-group container">
    <fieldset>
      <input type="text"
             [ngClass]="{'is-invalid': categoryForm.invalid && categoryForm.get('title').touched && categoryForm.get('title').errors != null}"
             class="m-3 form-control"
             placeholder="Title"
             formControlName="title">
    </fieldset>
    <button class="btn btn-success" [disabled]="categoryForm.invalid">Add Article Category</button>
  </div>
</form>
